.vscode/**
.vscode-test/**
test/**
webview-ui/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
media/script.js
media/styles.css
media/main.js
